/*/////////////////////////////////////////////////////////////////////////////
/// POSITIONING ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
////position;top;right;bottom;left;z-index;

#container{

}

#header{

}

#sidebar{

}

#content{

}

#footer{

}
