/*/////////////////////////////////////////////////////////////////////////////
/// boxmodel ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
///margin; height; width; padding; float; display;

html,
body{
	height: 100%;
  margin: 0;
}

#container{
	@include container;
	height: 100%;
}

#header{

}

#sidebar{
	@include span(25%);
	height: 100%;
}

#content{
	@include span(75%);
}

#footer{

}

h1{
	padding-bottom: 0px;
}

h2{

}

h3{
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left:10px;
}

h4{
	margin-bottom: 10px;
}
