/*/////////////////////////////////////////////////////////////////////////////
/// TYPOGRAPHIC ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

html,
body{
    font-family: $font-3;
    font-size: 14px;
    line-height: 23px;
    color: $grey;
}

h1{
    font-family: $font-2;
    font-size: 23px;
    line-height: 25px;
    color: $blue;
}

h2{
    font-family: $font-2;
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
    line-height: 22px;
    color: $green;
}

h3{
    font-family: $font-1;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    text-transform: uppercase;
}

h4{
    font-family: $font-1;
    font-size: 12px;
    font-weight: 800;
}

a{
    color: $blue;
}

a:hover{
    color: $green;
    text-decoration: none;
}
