/*/////////////////////////////////////////////////////////////////////////////
/// VISUAL ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

html,
body{
    background: $grey-light;
    background-attachment: fixed;
}

#container{
}

#header{
}

#sidebar{
  background-color: pink;
}

#content{
}

#footer{
}

a{
    @include transition(.5s);
}

a:hover{
    @include transition(.5s);
}
