/*/////////////////////////////////////////////////////////////////////////////
/// GLOBAL //////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_global.scss */
html, body {
  font-family: "Helvetica", sans-serif, arial;
  font-size: 14px;
  color: #666666;
  line-height: 23px;
  height: 100%;
  background: #cccccc;
  background-attachment: fixed;
  margin: 0px;
  font-weight: 300;
}

/* line 17, ../sass/_global.scss */
h1 {
  font-family: "Bitter", sans-serif, arial;
  font-size: 23px;
  line-height: 25px;
  color: #006491;
}

/* line 24, ../sass/_global.scss */
h2 {
  font-size: 22px;
  color: #83b739;
  font-family: "Bitter", sans-serif, arial;
  line-height: 22px;
  font-weight: 100;
  font-style: italic;
  padding-bottom: 0px;
}

/* line 34, ../sass/_global.scss */
h3 {
  font-size: 16px;
  font-family: "Cabin", sans-serif, arial;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  line-height: 18px;
}

/* line 45, ../sass/_global.scss */
h4 {
  font-family: "Cabin", sans-serif, arial;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 10px;
}

/* line 52, ../sass/_global.scss */
hr {
  height: 0px;
  border: 0px;
  width: 50px;
  border-bottom: 1px solid #666666;
  text-align: left;
  float: left;
  display: block;
  margin: 20px 0px 28px 0px;
}

/* line 63, ../sass/_global.scss */
blockquote {
  border: 1px dotted #cccccc;
  border-left: 3px solid #83b739;
  background-color: white;
  padding: 0px 20px;
  overflow: hidden;
  font-family: "Bitter", sans-serif, arial;
  font-style: italic;
  font-weight: bold;
  margin: 10px;
  color: #999;
}

/* line 76, ../sass/_global.scss */
a {
  color: #006491;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 81, ../sass/_global.scss */
a:hover {
  color: #83b739;
  text-decoration: none;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 88, ../sass/_global.scss */
.highlight {
  background-color: white;
  padding: 0px 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px dotted #cccccc;
}

/*/////////////////////////////////////////////////////////////////////////////
/// forms ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_forms.scss */
fieldset {
  padding: 20px;
  border: 1px dotted #cccccc;
}
/* line 8, ../sass/_forms.scss */
fieldset legend {
  padding: 10px;
  padding-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
}
/* line 15, ../sass/_forms.scss */
fieldset .fieldset-wrapper {
  margin-top: -20px;
}

/* line 20, ../sass/_forms.scss */
textarea {
  border: 0px dotted #cccccc;
  background: #efefef;
  padding: 10px;
  color: #666666;
}

/*/////////////////////////////////////////////////////////////////////////////
/// HEADER ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_header.scss */
#header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* LOGO */
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 12, ../sass/_header.scss */
#header #logo {
  float: left;
  font-size: 35px;
  font-family: "Cabin", sans-serif, arial;
  text-decoration: none;
  display: block;
  margin-top: 55px;
  font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////////////////
/// SIDBAR ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_sidebar.scss */
#container #sidebar {
  width: 25%;
  float: left;
  background-color: #efefef;
  height: 100%;
}
@media (min-width: 70em) {
  /* line 5, ../sass/_sidebar.scss */
  #container #sidebar {
    background-color: yellow;
  }
}

/*/////////////////////////////////////////////////////////////////////////////
/// MAIN ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 9, ../sass/_content.scss */
#container #content {
  width: 75%;
  float: left;
  height: 100%;
}

/*/////////////////////////////////////////////////////////////////////////////
/// footer ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 14, ../sass/_footer.scss */
.footer_push {
  height: 150px;
}

/* line 15, ../sass/main.scss */
#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#container:after {
  content: " ";
  display: block;
  clear: both;
}
