/*/////////////////////////////////////////////////////////////////////////////
/// POSITIONING ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
/// boxmodel ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 6, ../sass/_2_boxmodel.scss */
html,
body {
  height: 100%;
  margin: 0;
}

/* line 12, ../sass/_2_boxmodel.scss */
#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, ../sass/_2_boxmodel.scss */
#sidebar {
  width: 25%;
  float: left;
  height: 100%;
}

/* line 26, ../sass/_2_boxmodel.scss */
#content {
  width: 75%;
  float: left;
}

/* line 34, ../sass/_2_boxmodel.scss */
h1 {
  padding-bottom: 0px;
}

/* line 42, ../sass/_2_boxmodel.scss */
h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* line 48, ../sass/_2_boxmodel.scss */
h4 {
  margin-bottom: 10px;
}

/*/////////////////////////////////////////////////////////////////////////////
/// TYPOGRAPHIC ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_3_typographic.scss */
html,
body {
  font-family: "Helvetica", sans-serif, arial;
  font-size: 14px;
  line-height: 23px;
  color: #666;
}

/* line 13, ../sass/_3_typographic.scss */
h1 {
  font-family: "Bitter", sans-serif, arial;
  font-size: 23px;
  line-height: 25px;
  color: #006491;
}

/* line 20, ../sass/_3_typographic.scss */
h2 {
  font-family: "Bitter", sans-serif, arial;
  font-size: 22px;
  font-weight: 100;
  font-style: italic;
  line-height: 22px;
  color: #83b739;
}

/* line 29, ../sass/_3_typographic.scss */
h3 {
  font-family: "Cabin", sans-serif, arial;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  text-transform: uppercase;
}

/* line 37, ../sass/_3_typographic.scss */
h4 {
  font-family: "Cabin", sans-serif, arial;
  font-size: 12px;
  font-weight: 800;
}

/* line 43, ../sass/_3_typographic.scss */
a {
  color: #006491;
}

/* line 47, ../sass/_3_typographic.scss */
a:hover {
  color: #83b739;
  text-decoration: none;
}

/*/////////////////////////////////////////////////////////////////////////////
/// VISUAL ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* line 5, ../sass/_4_visual.scss */
html,
body {
  background: #ccc;
  background-attachment: fixed;
}

/* line 17, ../sass/_4_visual.scss */
#sidebar {
  background-color: pink;
}

/* line 27, ../sass/_4_visual.scss */
a {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 31, ../sass/_4_visual.scss */
a:hover {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*/////////////////////////////////////////////////////////////////////////////
/// MISC //////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
