/*/////////////////////////////////////////////////////////////////////////////
/// MAIN ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

//.front{

	#container {

		#content{
			@include span(75%);
			height: 100%;
		}

	}

//}
