/*/////////////////////////////////////////////////////////////////////////////
/// footer ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#footer{


}

#container{

}

.footer_push {
	height: 150px;
}
