/*/////////////////////////////////////////////////////////////////////////////
/// forms ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

fieldset{
	padding: $gutter-width;
	border: 1px dotted $grey-light;
	legend{
		padding: $gutter-width/2;
		padding-bottom: 0px;
		font-size: 15px;
		font-weight: bold;
	}

	.fieldset-wrapper{
		margin-top: -20px;
	}
}

textarea{
	border: 0px dotted $grey-light;
	background: $grey-bright;
	padding: $gutter-width/2;
	color: $grey;
}
