/*/////////////////////////////////////////////////////////////////////////////
/// GLOBAL //////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

html, body{
	font-family: $font-3;
	font-size: 14px;
	color: $grey;
	line-height: 23px;
	height: 100%;
	background: $grey-light;
	background-attachment: fixed;
	margin: 0px;
	font-weight: 300;
}

h1{
	font-family: $font-2;
	font-size: 23px;
	line-height: 25px;
	color:$blue;
}

h2{
	font-size: 22px;
	color: $green;
	font-family: $font-2;
	line-height: 22px;
	font-weight: 100;
	font-style: italic;
	padding-bottom: 0px;
}

h3{
	font-size: 16px;
	font-family: $font-1;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left:10px;
	line-height: 18px;
}

h4{
	font-family: $font-1;
	font-weight: 800;
	font-size: 12px;
	margin-bottom: 10px;
}

hr{
	height: 0px;
	border: 0px;
	width: 50px;
	border-bottom: 1px solid $grey;
	text-align: left;
	float: left;
	display: block;
	margin: 20px 0px 28px 0px;
}

blockquote{
	border: 1px dotted $grey-light;
	border-left: 3px solid $green;
	background-color: white;
	padding:0px 20px;
	overflow: hidden;
	font-family: $font-2;
	font-style: italic;
	font-weight: bold;
	margin: 10px;
	color: #999;
}

a{
	color:$blue;
	@include transition(0.5s);
}

a:hover{
	color:$green;
	text-decoration: none;
	@include transition(0.5s);
}


.highlight{
	background-color: white;
	padding: 0px 20px;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px dotted $grey-light;
}
