/*/////////////////////////////////////////////////////////////////////////////
/// HEADER ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#header{

	@include container;


	/* LOGO */

	#logo{
		float:left;
		font-size: 35px;
		font-family: $font-1;
		text-decoration: none;
		display: block;
		margin-top: 55px;
		font-weight: bold;
	}

}
