/*/////////////////////////////////////////////////////////////////////////////
/// SIDBAR ////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#container #sidebar{
	@include span(25%);
	background-color: $grey-bright;
	height: 100%;

	@include breakpoint($large) {
    background-color: yellow;
  }
}
