$brown      : #32382a;
$pink 			: #ff6865;
$blue				: #006491;
$blue-light	: #2DA3DC;
$green			: #83b739;
$grey 			: #666;
$grey-light	: #ccc;
$grey-bright: #efefef;

$font-1 : 'Cabin', sans-serif, arial;
$font-2 : 'Bitter', sans-serif, arial;
$font-3 : 'Helvetica', sans-serif, arial;

$small  : 35em;
$medium : 50em;
$large  : 70em;

$gutter-width: 20px;

$susy: (
  columns: 12,
  gutters: .0,
  math: fluid,
);
